
/*#search_title{*/
/*    font-family: "Bungee Shade";*/
/*    !*font-size: 50px;*!*/
/*}*/
#all{
    background-color: wheat;
    margin-bottom: 50px;

}

html
 {
     background-color: wheat;
     /*margin-bottom: 50px;*/

 }

/*.button, .button float-right{*/
/*    font-family: Pacifico;*/
/*}*/
table, tr, th{
    font-family: "Comic Sans MS";
    padding: 30px;
    font-size: 20px;
}
tr:nth-child(even) {background-color: #f8d7da}
tr:hover {background-color: #cbaaad}
#link{
    /*font-family: "Kunstler Script";*/
    font-size: 50px;
}
/*td{font-family: "Sofia"}*/
/*label{font-family: "Indie Flower"}*/


