
/*#search_title{*/
/*    font-family: "Bungee Shade";*/
/*    !*font-size: 50px;*!*/
/*}*/


/*.button, .button float-right{*/
/*    font-family: Pacifico;*/
/*}*/
table, tr, th{
    font-family: "arial-black";
    padding: 30px;
    font-size: 20px;
}
/*tr:nth-child(even) {background-color: #cbaaba}*/
tr:hover {background-color: rgba(5,8,7,0.3)}
#link{
    /*font-family: "Kunstler Script";*/
    font-size: 50px;
}
/*td{font-family: "Sofia"}*/
/*label{font-family: "Indie Flower"}*/


