html{
    background-color: wheat;
}


tr:nth-child(even) {background-color: #9fcdff}
tr:hover {background-color: #ffcc00;}
#link{
    font-family: "Kunstler Script";
    font-size: 50px;
}
td{font-family: "Sofia"}
label{font-family: "Indie Flower"}


